.journey-map {

    width: 100%;
    max-width: 1400px;

    margin: auto;

    position: relative;

    padding: 100px 0 200px;

}

.road {

    position: absolute;

    left: 50%;

    top: 0;

    width: 12px;

    height: 100%;

    transform: translateX(-50%);

    border-radius: 999px;

    background:
    linear-gradient(
    #d9c7ff,
    #6b46ff,
    #d9c7ff);

}

.station {

    width: 320px;

    padding: 25px;

    border-radius: 30px;

    background:
    rgba(255,255,255,.75);

    backdrop-filter: blur(20px);

    box-shadow:
    0 20px 60px rgba(107,70,255,.12);

    position: relative;

    cursor: pointer;

    transition: .4s;

    margin-bottom: 80px;

}

.station:hover {

    transform:
    translateY(-10px)
    scale(1.04);

}

.left {

    margin-left: 8%;

}

.right {

    margin-left: auto;
    margin-right: 8%;

}

.center {

    margin: auto;

}

.icon {

    width: 90px;
    height: 90px;

    margin: auto;

    border-radius: 50%;

    background:
    linear-gradient(
    135deg,
    #6b46ff,
    #9d7bff);

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 2rem;

    color: white;

    margin-bottom: 20px;

}

.station h3 {

    text-align: center;

    color: #2d2142;

}

.station{

overflow:hidden;

}

.station::before{

content:"";

position:absolute;

width:120px;
height:120px;

background:
rgba(157,123,255,.15);

border-radius:50%;

top:-50px;
right:-50px;

}

.station:hover{

transform:
translateY(-10px)
scale(1.05);

box-shadow:
0 30px 70px rgba(107,70,255,.25);

}

